@import './../../color';

.hero-container{
    width: 100%;
    box-sizing: border-box;
    img{
        width: 100%;
    }
    
    // height: auto;
    // width: 100%;
    // background: url('../../../public/tattooBG1.jpg');
    // background-position-x: center;
    // background-size: cover;
    // position: relative;
    // display: flex;
    // justify-content: center;
    // @media  (min-width: 768px) {
    //     height: 85vh;
    // }

    // .motivation{
    //     padding: 16px;
    // }

    // h1{
    //     font-size: 64px;
    //     color: $dark-grey;
    // }
}