@import './../../color';

.header{
    background-color: $dark-grey;
    color: $white;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    align-items: stretch;
    top: 0;
    z-index: 10;
    
    
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    .right-side{
        display: flex;
        justify-content: flex-end;
    }

    .language-changer{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 0);
        outline:none;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        &:hover{
            cursor: pointer;
        }
        img{
            height: 24px;
        }
    }
    
    .navigation, .right-side{
        display: flex;
        gap: 32px;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        flex: 1 1 0;
        li{
            height: 100%;
            padding: 0 16px;
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            
            a{
                color: $white;
                height: 100%;
                display: flex;
                align-items: center;
            }
            
            
        }
    }
    .header-name{
        font-size: 24px;
    }
    .links{
        display: flex;
        gap: 16px;
        li{
            padding: 0;
        }
        .icon{
            img{
                width: 32px;
            }
        }
    }
}